<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="utility.Listner">  </listener>
</listeners>
  
  <test thread-count="5" name="Test">
  <parameter name="browserName" value="Chrome" />
  <classes>
  <class name="testcase.TestCollectionPage">   </class>
  </classes>
  </test>
  
<!--   <test thread-count="5" name="Edge"> -->
<!--   <parameter name="browserName" value="Edge" /> -->
<!--   <classes> -->
<!--   <class name="testcase.TestCollectionPage"> </class> -->
<!--   </classes> -->
<!--   </test> -->
  
<!--    <test thread-count="5" name="Safari"> -->
<!--   <parameter name="browserName" value="Safari" /> -->
<!--   <classes> -->
<!--   <class name="testcase.TestCollectionPage">   </class> -->
<!--   </classes> -->
<!--   </test> Test -->
</suite> <!-- Suite -->
